.banner {
    display: block;
    padding: 5px;
    margin: 0;
    height: 70vh;
    position: relative;
}

.bannerText{
    position: relative;
    top: 100px;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 4rem;
    -webkit-text-stroke: 2px black
}
